/* General Style */
html, body  { height: 100%; width: 100%; }

/* Style for Profile Box*/
.eqWrap { 
    display: flex;
    border-style: solid;
    border-width: 2px;
}
.eq { padding: 10px; }
.eq:nth-of-type(odd) { 
    background: grey;
    border-style: solid;
    border-width: 1px;
}
.eq:nth-of-type(even) { 
    background: #bad4aa;
    border-style: solid;
    border-width: 1px;
}
.equalHW { flex: 1; }